.Login-Button {
  width: 20vmin;
  height: 5vmin;
  background-color: #0056b3;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  margin: 0 10px;
}

.Login-Button:hover {
  background-color: #76b8ff;
}
