.login-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  flex: 2;
  background-color: rgb(236, 228, 223);
}

.left-section{
  margin:10px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.login-group{
  margin: 20px
}

.right-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.logintop{
  color: rgb(75, 81, 90);
  font-size: 4.8vmin;
  font-weight: 800;
  margin: 20px 10px;
}